<h2>Edit Your Workout Session</h2>

<form action='/workouts/<%= @workout.id %>' method='POST'>
    

    <div><label for='workout_name'>Name your workout session: </label>
    <input type='text' id='workout_name' name='workout[name]' value='<%= @workout.name %>'></div><br>

    <h3>Choose your training exercise(s)</h3>
    <% Exercise.all.each do |exercise| %>
        <label><%= exercise.name %></label>
        <input type='checkbox' name='workout[exercise_ids][]' id='<%= exercise.id%>' value='<%= exercise.id %>' <%='checked' if @workout.exercises.include?(exercise) %>><br>
    <% end %>
    </div><br>
    <div>

    <h3>Choose your training day</h3>
    <select name="workout[day_id]">
        <% Day.all.each do |day| %>
            <option value="<%= day.id %>"><%= day.name %></option>
        <% end %>
    </select>
    </div><br>

    <div><input type='submit' id='submit' value='Edit'></div>

</form>

