<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF=8">
  <title>Sinatra Project</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="custom-form">
            <h1>Create Your Workout Session</h1>

            <form action='/workouts' method='POST'>
            <input type='text' class="text-input" id='workout_name' name='workout[name]' placeholder="Workout Name">

            <h1>Create your training exercise</h1>
            <input type='text' class="text-input" id='exercise_name' name='exercise[name]' placeholder="Exercise Name">
            <input type='text' class="text-input" id='calorie' name='exercise[calorie]' placeholder="Calories to Burn">
            <input type='text' class="text-input" id='note' name='exercise[note]' placeholder="Exercise Note">

            <input type='hidden' id='user_id' name='workout[user_id]' value='<%= Helpers.current_user(session).id %>'>

            <h1>Choose your training exercise(s)</h1>
            <% Exercise.all.each do |exercise| %>
                <%= exercise.name %><input type='checkbox' name='workout[exercise_ids][]' id='<%= exercise.id%>' value='<%= exercise.id %>'>
            <% end %>

            <h1>Choose your training day</h1>
            <select name="workout[day_id]">
                <% Day.all.each do |day| %>
                    <option value="<%= day.id %>"><%= day.name %></option>
                <% end %>
            </select>
            
            <input type='submit' class="buttons" id='submit' value='Create'>

        </form>


    </div>
</body>
</html>
